<div class="jumbotron">
  <%= render partial: 'get_tweets_form' %>
  <div class="tweet-wrapper">
    <div class="page-header bs-override">
      <h2> Enter twitter handle above! </h2>
    </div>
  </div>
</div>